<div class="container">
    <h2>Add User</h2>
    <form method="POST" action="/admin/new">
        <div class="form">
            <label>Username</label>
            <input type="text" class="form-control" name="username">
        </div>
        <div class="form">
            <label>Name</label>
            <input type="text" class="form-control" name="name">
        </div>
        <div class="form">
            <label>Password</label>
            <input type="text" class="form-control" name="password">
        </div>
        <div class="form">
            <label>Description</label>
            <input type="text" class="form-control" name="description">
        </div>
        <div class="form">
            <label>Role</label>
            <input type="text" class="form-control" name="role">
        </div>
        <div class="form">
            <label>Email</label>
            <input type="email" class="form-control" name="email">
        </div>
        {{!-- <div class="form">
            <label>Country/ Countries</label>
            <select name="country" class="form-control">
                {{#each countries}}
                <option value="{{name}}">{{name}}</option>
                {{/each}}
            </select>
            
        </div> --}}
        <div class="form">
            <label>Image</label>
            <input type="img" class="form-control" name="image">
        </div>
        <button type="submit" class="btn ">Add User</button>
    </form>

</div>