<div class="container">
    <h2>Users</h2>

    <ul>
        {{#each allUsersCreated}}
        <li><a href="/admin/profile/{{_id}}" class="list">{{this.username}}</a>
            <small>
                [<a href="/admin/delete-user?user_id={{_id}}">Delete</a>]
                [<a href="/admin/edit-user?user_id={{_id}}">Edit</a>]
            </small></li>
        {{/each}}
    </ul>


    {{!-- <button type="button" class="btn" id="btn-link"> --}}
    <a href="/admin/new" class="btn">Add User</a>
    {{!-- </button> --}}

</div>