<div class="container">

    <div class="title row justify-content-center">
        <h2>Users</h2>
    </div>

    <div>
        <ul>
            {{#each allUsersCreated}}
            <div class="row justify-content-center">
                <li><a href="/admin/profile/{{_id}}" class="list">{{this.username}}</a>
                    <small>
                        [<a href="/admin/delete-user?user_id={{_id}}">Delete</a>]
                        [<a href="/admin/edit-user?user_id={{_id}}">Edit</a>]
                    </small></li>
            </div>
            {{/each}}
        </ul>
    </div>

    <div class="row justify-content-center">
        <a href="/admin/new" class="btn">Add User</a>
    </div>

</div>