<div class="container index">

    <div class="row">

        <div class="title column">
            <h1 class="row justify-content-center">{{title}}</h1>

            <img src="./images/Big-logo.png" alt="logo" id="mainimg">
        
            <h2 class="row justify-content-center">Around the world in eighty holidays...</h2>
        </div>

        <div class="searchbars column">
            
            <div class="row justify-content-center">
            <a href="/celebrations" class="btn" id="big">Browse Celebrations</a>
            </div>

            <br>
            <div class="row justify-content-center">
            <h4>or...</h4>
            </div>
            <br>
            
            <form  method="GET" action="/search">
            
                <div class="input-group md-form form-sm form-2 pl-0">
                    <input class="form-control my-0 py-1 amber-border" type="text" name="q" placeholder="Search by name"
                        aria-label="Search">
                    <div class="input-group-append">
                        <span class="input-group-text amber lighten-3" id="basic-text1"><i class="fa fa-search text-grey"
                                aria-hidden="true"></i></span>
                    </div>
                </div>

            </form>
            
        </div>

    </div>
</div>