<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>

  {{!-- Bootstrap --}}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  {{!-- CSS --}}
  <link rel="stylesheet" href="/stylesheets/style.css" />

  {{!-- Icons --}}
  <script src="https://kit.fontawesome.com/52e276fb65.js" crossorigin="anonymous"></script>

</head>

<body>
  <nav class='navbar navbar-expand-lg '>
    <a class='navbar-brand' href='/'>
      <div class="logo-image">
        <img src="/images/Small-logo.png" class="img-fluid" alt="carousel" id="logo">
      </div>
    </a>

    <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarSupportedContent'
      aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation'>
      <span class='navbar-toggler-icon'></span>
    </button>
    <div class='collapse navbar-collapse' id='navbarSupportedContent'>
      <ul class='navbar-nav ml-auto'>
        <li class='nav-item'>
          <a class='nav-link' href='/'>Home</a>
        </li>
        <li class='nav-item'>
          <a class='nav-link' href='/celebrations'>Celebrations</a>
        </li>
        <li class='nav-item'>
          <a class='nav-link' href='/countries'>Countries</a>
        </li>
        <li class='nav-item'>
          <a class='nav-link' href='/signup'>Sign Up</a>
        </li>
        <li class='nav-item'>
          <a class='nav-link' href='/login'>Login</a>
        </li>
        <li class='nav-item'>
          <a class='nav-link' href='/profile'>Profile</a>
        </li>
        {{!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
            Registered Users
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/login">Login</a>
            <a class="dropdown-item" href="/signup">Sign Up</a>
            <a class="dropdown-item" href="/profile">Profile</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li> --}}
      </ul>
    </div>
  </nav>

  <main>

    {{{body}}}

  </main>

  <footer id="footer">

    <div class="container">

      <div class="row">
        <i class="icon-footer fab fa-twitter"></i>
        <i class="icon-footer fab fa-facebook-f"></i>
        <i class="icon-footer fab fa-instagram"></i>
        <i class="icon-footer fas fa-envelope"></i>
        <p class="p-footer">© Copyright 2020 Lara Lorenzo & Tal Burdman</p>
      </div>

    </div>

  </footer>

  <script src="/javascripts/script.js"></script>
</body>

</html>