body {
  font-family: "Book Antiqua",
    Palatino,
    serif;
  background-color: #FBF6F0;
}

h1,
h2,
h3,
h4,
p {
  color: rgb(73, 73, 73);
  font-weight: 100;
  padding-top: 20px;
}

p {
  text-align: justify;
}

#mainimg {
  width: 350px;
  align-items: center;
  margin: 0px 50px 0px 50px;
}

#logo {
  width: 60px;
}

#btn-link a {
  text-decoration: none;
  color: white;
}

.navbar {
  background-color: #ff9642;
}

.navbar a {
  text-decoration: none;
  color: rgb(73, 73, 73);
}

.nav-link {
  font-size: 25px;
}

.title {
  padding: 25px 50px 10px 50px;
}

.subtitle {
  padding: 0px 50px 10px 50px;
}

.main {
  text-align: center;
  margin-top: 20px;
  padding-bottom: 20px;
}

.index {
  margin-top: 20px;
  padding-bottom: 20px;
}

.showdetails {
  text-align: left;
  margin-top: 20px;
  padding-bottom: 20px;
}

.celebration {
  text-align: left;
}

.btn {
  background-color: #FF9642;
  color: white;
  border-radius: 50px;
  margin: 20px 10px;
  height: 40px;
  width: 200px;
}

.btn-details {
  width: 100px;
  margin: 10px;
}

#big {
  background-color: rgb(219, 177, 32);
  font-size: large;
  border-radius: 0.25rem;
  margin: 5px;
  padding-top: 10px;
  height: 50px;
  width: 300px;
}

.list {
  text-decoration: none;
  color: rgb(73, 73, 73);
  font-size: 20px;
  letter-spacing: 2px;
}

.searchbars {
  margin: 200px 0 0 200px;
}

.input-group.md-form.form-sm.form-2 {
  margin-bottom: 20px;
}

.input-group.md-form.form-sm.form-2 input {
  border: 1px solid rgb(219, 177, 32);
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.input-group-text {
  background-color: rgb(219, 177, 32);
  border: 1px solid rgb(219, 177, 32);
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25re;
}

#footer {
  background-color: rgb(73, 73, 73);
  padding: 5px 15px;
  bottom: 0;
  width: 100%;
}

.p-footer {
  color: #FF9642;
  text-align: end;
}

.celebImg img {
  height: 300px;
  object-fit: cover;
  float: right;
  margin: 30px 0 20px 30px;
  padding: 3px;
  border: 5px solid rgb(73, 73, 73);
  background-color: #FF9642;
}

.card {
  margin-bottom: 30px;
  color: rgb(73, 73, 73);
  border: 1px solid rgb(73, 73, 73);
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.img-flag {
  height: 300px;
  object-fit: cover;
  float: right;
  margin: 30px 0 20px 30px;
  padding: 3px;
  border: 5px solid rgb(73, 73, 73);
  background-color: #FF9642;
}