<div clas="container">
    <h2>Countries</h2>

    <ul>
        {{!-- {{#each allCelebritiesCreated}} --}}
        <li><a href="/countries/details/{{_id}}" class="list">{{name}}</a>

            {{!-- {{/each}} --}}
    </ul>

    <button type="button" class="btn btn-secondary">
        <a href="/">Home</a>
    </button>

</div>


<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="../public/javascript/APIHandler.js"></script>
<script type="text/javascript" src="../public/javascript/index.js"></script>