<div class="container">

    <div id="countryDetails"></div>

    <div class="row justify-content-center">
        <a href="/countries" class="btn">Back To Countries</a>
    </div>

</div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/javascripts/api-handler.js"></script>
<script src="/javascripts/country-details.js"></script>