<div clas="container">

    <div class="title row justify-content-center">
    <h2>Countries</h2>
    </div>

    <div class="main row justify-content-center">
    <ul>
        {{!-- {{#each allCelebritiesCreated}} --}}
        <li><a href="/countries/details/{{_id}}" class="list">{{name}}</a>

            {{!-- {{/each}} --}}
    </ul>
    </div>
    
    <div class="row justify-content-center">
    <a href="/" class="btn">Home</a>
    </div>

</div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="../public/javascript/APIHandler.js"></script>
<script type="text/javascript" src="../public/javascript/index.js"></script>