<div class="container">

    <div class="title row justify-content-center">
        <h2>Celebrations</h2>
    </div>

    <div class="main row justify-content-center">
        <ul>
            {{#each allCelebrationsCreated}}
            <div class="celebration">
                <li><a href="/celebrations/details/{{_id}}" class="list">{{this.name}}</a></li>
            </div>
            {{/each}}
        </ul>
    </div>

    <div class="row justify-content-center">
        <a href="/celebrations/new" class="btn">Add Celebration</a>
        <a href="/" class="btn">Back to Home</a>
    </div>

</div>